body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.top-bnr{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}


h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

.name-clr{
    color: orange;

}
.bio-clr{
    color: rgb(125, 2, 240);
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 60px;
}

.btn-1{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
}


.half-width img{
    width: 80%;
}

.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-clr{
   color: orange;
}

.experinence-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    margin-top: -10px;
  
}
.experiance-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
   
    
}
#full-dev{
    border-left: 7px solid tomato;
}

#baby-dev{
    border-left: 7px solid blue;
}

footer p{
    text-align: center;
}